.card{
    /* display: flex; */
    width: 31%;
    height: 650px;
    margin: 5px;
    border: 2px solid #1d1816;
    background-color: rgb(155, 145, 145);
    color: black;
    border-radius: 25px;
    text-align: center;
}